  <!doctype html>
  <!--data over de html (niet zichbaar op de pagina)-->
  <title>Studydate</title>
  <!--encoding alle mogelijke characters unicode-->
  <meta charset="UTF-8">
  <!--Website werkt op elke apparaat-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--import een style sheet-->
  <link rel="stylesheet" type="text/css" href="style.css">
