<nav id="desktop-nav">
  <p><a href="index.html">  <img src="images/logo/desktop-logo.png" alt="studydatelogo"></a></p>
  <ul>
    <li>
      <p><a href="index"> Home</a></p>
    </li>
    <li>
      <p><a href="notification.html">Notificaties</a></p>
    </li>
    <li>
      <p><a href="chats.html">Chats</a></p>
    </li>
    <li>
      <p><a href="userprofile.html">Profile</a></p>
    </li>
    <li>
      <p><a href="setting.html">Settings</a></p>
    </li>
  </ul>
</nav>
<nav id="mobile-nav">
  <ul>

    <li>
      <p><a href="index">  <img src="images/logo/logo-nonactive.png" alt="studydatelogo"></a></p>
    </li>
    <li>
      <p><a href="notification.html"><img src="images/iconen/bell.png" alt="nav Bell"></a></p>
    </li>
    <li>
      <p><a href="chats.html"><img src="images/iconen/chat.png" alt="nav chat" ></a></p>
    </li>
    <li>
      <p><a href="userprofile.html"><img src="images/iconen/user.png" alt="nav user" ></a></p>
    </li>
    <li>
      <p><a href="setting.html"><img src="images/iconen/controls.png" alt="nav controls" ></a></p>
    </li>
  </ul>
</nav>
