<!DOCTYPE html>
<html lang="nl">

<head>
    <% include ../partials/head.ejs %>
</head>

<body id="chat">
  <!--Header begin-->
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  <!--Header end-->
  <main>

    <section class="chat">
      <h1>Chats</h1>
      <article>
        <p>
          <img src="images/afbeeldingen/foto1.jpeg" alt="foto 1">
        </p>
        <p>
          Hai
        </p>


      </article>
      <hr />
      <article>
        <p>
          <img src="images/afbeeldingen/foto2.jpeg" alt="foto 2">
        </p>
        <p>
          Wanna Hang out?
        </p>


      </article>
      <hr />

      <article>
        <p>
          <img src="images/afbeeldingen/foto3.jpeg" alt="foto 3">
        </p>
        <p>
          *Begin met chatten
        </p>


      </article>
      <hr />



    </section>


  </main>
</body>

</html>
