<!DOCTYPE html>
<html lang="nl">
<head>
    <% include ../partials/head.ejs %>
</head>
<body id="start" class="inloggen">
    <!--Header begin-->
    <header>
        <% include ../partials/nav.ejs %>
    </header>
    <!--Header end-->
    <main>

        <section>
            <form action="/users/edit" id='edit_form' method="POST">
              <fieldset>
                <legend>Profile Aanpassen</legend>
                <label> Voornaam
                  <input type="name" name="first_name" required  >
                </label>
                <label> Leeftijd
                  <input type="number" name="leeftijd" minlength="2" required >
                  </label>
                <label> Opleiding
                  <input type="text" name="opleiding" required  >
                </label>
                
                <label> Informatie over jezelf
                    <textarea name="overJezelf" form="edit_form" rows="4"> </textarea>
   
                </label>
              </fieldset>

              <button type="submit" value="submit">Toepassen</button>
            </form>
            
        </section>
    </main>
</body>
</html>