<!DOCTYPE html>
<html lang="nl">

<head>

  <% include ../partials/head.ejs %>
</head>


<body id="index">
  <!--Header begin-->
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  <!--Header end-->
  <main>

    <section>
      <!-- <h1>Resultaten</h1> -->
      <ul>
        <li>
          <article>

              <img src="images/afbeeldingen/foto1.jpeg" alt="Profiel foto">
<h3>Naomi, 21</h3>
            <footer>
              <ul>
                <li> <button class="favbutton"> Favorieten button </button>
                </li>
                <li> <button class="downloadbutton"> Download button </button>
                </li>
              </ul>
            </footer>
            <p><a href="/profile">Bekijk het verhaal zombie</a></p>
          </article>
        </li>
        <li>
          <article>
            <h3>Olivia, 20</h3>
              <img src="images/afbeeldingen/foto2.jpeg" alt="Profiel foto">
            <footer>
              <ul>
                <li> <button class="favbutton"> Favorieten button </button>

                </li>
                <li> <button class="downloadbutton"> Download button </button>

                </li>
              </ul>
            </footer>
            <p><a href="/profile">Bekijk profiel</a></p>
          </article>
        </li>
        <li>
          <article>
            <h3>Sophie, 22</h3>

              <img src="images/afbeeldingen/foto3.jpeg" alt="Profiel foto">
            <footer>
              <ul>
                <li> <button class="favbutton"> Favorieten button </button>

                </li>
                <li> <button class="downloadbutton"> Download button </button>

                </li>
              </ul>
            </footer>
            <p><a href="/profile">Bekijk profiel</a></p>
          </article>
        </li>
        <li>
          <article>
            <h3>Emma, 19</h3>

              <img src="images/afbeeldingen/foto4.jpeg" alt="Profiel foto">
            <footer>
              <ul>
                <li> <button class="favbutton"> Favorieten button </button>

                </li>
                <li> <button class="downloadbutton"> Download button </button>

                </li>
              </ul>
            </footer>
            <p><a href="/profile">Bekijk profiel</a></p>
          </article>
        </li>
        <li>
          <article>
            <h3>Julia, 20</h3>

                <img src="images/afbeeldingen/foto5.jpeg" alt="Profiel foto">
            <footer>
              <ul>
                <li> <button class="favbutton"> Favorieten button </button>

                </li>
                <li> <button class="downloadbutton"> Download button </button>

                </li>
              </ul>
            </footer>
            <p><a href="/profile">Bekijk profiel</a></p>
          </article>
        </li>
        <li>
          <article>
            <h3>Lynn, 19</h3>

              <img src="images/afbeeldingen/foto6.jpeg" alt="Profiel foto">
            <footer>
              <ul>
                <li> <button class="favbutton"> Favorieten button </button>

                </li>
                <li> <button class="downloadbutton"> Download button </button>

                </li>
              </ul>
            </footer>
            <p><a href="/profile">Bekijk profiel</a></p>
          </article>
        </li>
        <li>
          <article>
            <h3>Fenna, 20</h3>

                <img src="images/afbeeldingen/foto7.jpeg" alt="Profiel foto">
            <footer>
              <ul>
                <li> <button class="favbutton"> Favorieten button </button>

                </li>
                <li> <button class="downloadbutton"> Download button </button>

                </li>
              </ul>
            </footer>
            <p><a href="/profile">Bekijk profiel</a></p>
          </article>
        </li>
        <li>
          <article>
            <h3>Lina, 18</h3>

              <img src="images/afbeeldingen/foto8.jpeg" alt="Profiel foto">
            <footer>
              <ul>
                <li> <button class="favbutton"> Favorieten button </button>

                </li>
                <li> <button class="downloadbutton"> Download button </button>

                </li>
              </ul>
            </footer>
            <p><a href="/profile">Bekijk profiel</a></p>
          </article>
        </li>
      </ul>
    </section>
  </main>
</body>


</html>
