<!DOCTYPE html>
<html lang="nl">

<head>
  <!--data over de html (niet zichbaar op de pagina)-->
  <% include ../partials/head.ejs %>

</head>

<body id="notification">
  <!--Header begin-->
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  <!--Header end-->
  <main>

    <section class="notie">
      <h1>Notificaties</h1>
      <article>
        <p>
           <img src="images/afbeeldingen/foto1.jpeg" alt="foto 1">
        </p>
        <p>
        Jij en Naomi vinden elkaar leuk. Start met chatten.
        </p>


      </article>
<hr />
<article>
  <p>
     <img src="images/iconen/notificatie-studydate.png" alt="logo">
  </p>
  <p>
    Iemand vind je leuk wil je zien wie?
  </p>


</article>
<hr />
<article>
  <p>
     <img src="images/afbeeldingen/foto2.jpeg" alt="foto 2">
  </p>
  <p>
    Jij en Olivia vinden elkaar leuk. Start met chatten.
  </p>


</article>
<hr />
<article>
  <p>
     <img src="images/iconen/notificatie-studydate.png" alt="logo">
  </p>
  <p>
  4 mensen hebben je profile geliked.
  </p>


</article>
<hr />
<article>
  <p>
     <img src="images/afbeeldingen/foto3.jpeg" alt="foto 3">
  </p>
  <p>
    Jij en Sophie vinden elkaar leuk. Start met chatten.
  </p>


</article>
<hr />
<article>
  <p>
     <img src="images/iconen/notificatie-studydate.png" alt="logo">
  </p>
  <p>
  Welkom bij Studydate. De leukste dating app voor studenten.


</article>
<hr />


    </section>


  </main>
</body>

</html>
