<!DOCTYPE html>
<html lang="nl">
<head>
    <% include ../partials/head.ejs %>
</head>
<body id="start" class="inloggen">
    <!--Header begin-->
    <header>
        <!-- <% include ../partials/nav.ejs %> -->
    </header>
    <!--Header end-->
    <main>

        <section>
            <form action="/users/add" method="POST">
              <fieldset>
                <legend>Registeren</legend>
                <label> Voornaam
                  <input type="name" name="first_name" required  >
                </label>
                <label> Leeftijd
                  <input type="number" name="leeftijd" minlength="2" required >
                  </label>
                <label> Opleiding
                  <input type="text" name="opleiding" required  >
                </label>
                <!-- <label> Over jezelf
                    <input type="textarea" name="overJezelf" minlength="6" placeholder="minimaal 6 characters" required >
                </label> -->
              </fieldset>
              <!-- <i>
                  <a href="index.html">Wachtwoord vergeten?</a>
                </i> -->
              <button type="submit" value="submit">register</button>
            </form>
            
            <p><a href="/register">Nog geen account? Klik hier </a></p>
        </section>
    </main>
</body>
</html>