<!DOCTYPE html>
<html lang="nl">
<head>
    <% include ../partials/head.ejs %>
</head>
<body id="start">
    <!--Header begin-->
    <header>
        <!-- <% include ../partials/nav.ejs %> -->
    </header>
    <!--Header end-->
    <main>

        <section>
            <p><img src="images/logo/logo-active.png" alt="Logo"></p>
            <h1>Studydate</h1>
            <p><a href="/inloggen">Start</a></p>
        </section>
    </main>
</body>
</html>