
<!DOCTYPE html>
<html lang="nl">

<head>
    <title>Error 404</title>
  <% include ../partials/head.ejs %>
</head>


<body id="index">
  <!--Header begin-->
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  <!--Header end-->
  <main>

    <section>
        <h1>404 error</h1>
        <p>Pagina niet gevonden</p>
    </section>
  </main>
</body>


</html>
